Comum/ControlaWebServices/WSDL/24092091_Gtec_HBS_Desinstalacao_out_SI.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Desinstalacao_out_SI" targetNamespace="urn:cielo:gtec:pax:VendaTerminal"
	xmlns:p1="urn:cielo:gtec:pax:VendaTerminal"
	xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation/>
  <wsp:UsingPolicy wsdl:required="true"/>
  <wsp:Policy wsu:Id="OP_Desinstalacao_out_SI"/>
  <wsdl:types>
    <xsd:schema targetNamespace="urn:cielo:gtec:pax:VendaTerminal"
			xmlns="urn:cielo:gtec:pax:VendaTerminal"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="Desinstalacao_MT" type="Header_Desinstalacao_DT"/>
      <xsd:element name="Desinstalacao_Return_MT" type="Header_Return_Desinstalacao_DT"/>
      <xsd:complexType name="Endereco_DT">
        <xsd:annotation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">a00d2bc1d56011e9838b0000070e266a</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="Bairro" type="xsd:string" minOccurs="0">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">9ca40f40d56011e9a07f548beb8d7902</xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Cep" type="xsd:string" minOccurs="0">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">9ca40f41d56011e99836548beb8d7902</xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Complemento" type="xsd:string" minOccurs="0">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">9ca40f42d56011e9c75c548beb8d7902</xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Estado" type="xsd:string" minOccurs="0">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">9ca40f43d56011e996d5548beb8d7902</xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Logradouro" type="xsd:string" minOccurs="0"/>
          <xsd:element name="Municipio" type="xsd:string" minOccurs="0">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">9ca40f44d56011e9b862548beb8d7902</xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="NumeroLogradouro" type="xsd:string" minOccurs="0">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">9ca40f45d56011e99171548beb8d7902</xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Pais" type="xsd:string" minOccurs="0">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">9ca40f46d56011e9bf92548beb8d7902</xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="PontoReferencia" type="xsd:string" minOccurs="0">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">9ca40f47d56011e9c074548beb8d7902</xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Cliente_DT">
        <xsd:annotation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">bf2ed6b5d56011e9b7650000070e266a</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="Celular" type="xsd:string" minOccurs="0">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">bbc4d259d56011e99a5c548beb8d7902</xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="CodigoCliente" type="xsd:string" minOccurs="0">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">bbc4d25ad56011e9a9d4548beb8d7902</xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Contribuinte" type="xsd:boolean" minOccurs="0">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">bbc4d25bd56011e99265548beb8d7902</xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="CpfCnpj" type="xsd:string" minOccurs="0">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">bbc4d25cd56011e9b5c5548beb8d7902</xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Documento" type="xsd:string" minOccurs="0">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">bbc4d25dd56011e987ac548beb8d7902</xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Email" type="xsd:string" minOccurs="0">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">bbc4d25ed56011e9af57548beb8d7902</xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Endereco" type="Endereco_DT" minOccurs="0">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">bbc4d25fd56011e9a064548beb8d7902</xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="InscricaoEstadual" type="xsd:string" minOccurs="0">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">bbc4d260d56011e99e17548beb8d7902</xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="InscricaoMunicipal" type="xsd:string" minOccurs="0">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">bbc4d261d56011e9b71f548beb8d7902</xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Nome" type="xsd:string" minOccurs="0">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">bbc4d262d56011e9b7af548beb8d7902</xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="NomeReduzido" type="xsd:string" minOccurs="0">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">bbc4d263d56011e98c9c548beb8d7902</xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Sexo" type="xsd:string" minOccurs="0">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">bbc5077ad56011e99b3b548beb8d7902</xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Telefone" type="xsd:string" minOccurs="0">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">bbc5077bd56011e9af2f548beb8d7902</xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="TipoPessoa" type="xsd:string" minOccurs="0">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">bbc5077cd56011e99109548beb8d7902</xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Header_Return_Desinstalacao_DT">
        <xsd:annotation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">a509c993d49411e9a9f70000070e266a</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="AutorizacaoPostagem" type="xsd:string" minOccurs="0">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">8c2049bed49411e98126548beb8d7902</xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="CodigoRetorno" type="xsd:string" minOccurs="0">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">8c2049bfd49411e9b4ba548beb8d7902</xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Descricao" type="xsd:string" minOccurs="0">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">8c2049c0d49411e9c003548beb8d7902</xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Sucesso" type="xsd:boolean" minOccurs="0">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">8c2049c1d49411e98133548beb8d7902</xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Acesso_DT">
        <xsd:annotation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">55fdcae3d56111e99c620000070e266a</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="Identificacao" type="xsd:string" minOccurs="0"/>
          <xsd:element name="credencial" type="xsd:string" minOccurs="0"/>
          <xsd:element name="senha" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Header_Desinstalacao_DT">
        <xsd:annotation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">1d42ec8ed56111e992850000070e266a</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="Cliente" type="Cliente_DT" minOccurs="0">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">e6b3b590d49311e9b7db548beb8d7902</xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="DescricaoMotivo" type="xsd:string" minOccurs="0">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">7dfe6854d56111e98f58548beb8d7902</xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="MotivoDevolucao" type="xsd:string" minOccurs="0">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">7dfe6855d56111e9afeb548beb8d7902</xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="NumeroPedido" type="xsd:string" minOccurs="0">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">7dfe6856d56111e99dda548beb8d7902</xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Protocolo" type="xsd:string" minOccurs="0">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">7dfe6857d56111e9c639548beb8d7902</xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="ValorDeclarado" type="xsd:double" minOccurs="0">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">7dfe6858d56111e9b70f548beb8d7902</xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Acesso" type="Acesso_DT" minOccurs="0"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Desinstalacao_MT">
    <wsdl:documentation/>
    <wsdl:part name="Desinstalacao_MT" element="p1:Desinstalacao_MT"/>
  </wsdl:message>
  <wsdl:message name="Desinstalacao_Return_MT">
    <wsdl:documentation/>
    <wsdl:part name="Desinstalacao_Return_MT" element="p1:Desinstalacao_Return_MT"/>
  </wsdl:message>
  <wsdl:portType name="Desinstalacao_out_SI">
    <wsdl:documentation/>
    <wsdl:operation name="Desinstalacao_out_SI">
      <wsdl:documentation/>
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_Desinstalacao_out_SI"/>
      </wsp:Policy>
      <wsdl:input message="p1:Desinstalacao_MT"/>
      <wsdl:output message="p1:Desinstalacao_Return_MT"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Desinstalacao_out_SIBinding" type="p1:Desinstalacao_out_SI">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"
			xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
    <wsdl:operation name="Desinstalacao_out_SI">
      <soap:operation soapAction="http://sap.com/xi/WebService/soap1.1"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      <wsdl:input>
        <soap:body use="literal"
          xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"
          xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Gtec_HBS_Desinstalacao_out_SI">
    <wsdl:port name="HTTP_Port" binding="p1:Desinstalacao_out_SIBinding">
      <soap:address location="http://cbmphorhpi1:52100/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=Gtec_HBS&amp;receiverParty=&amp;receiverService=&amp;interface=Desinstalacao_out_SI&amp;interfaceNamespace=urn%3Acielo%3Agtec%3Apax%3AVendaTerminal"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
    </wsdl:port>
    <wsdl:port name="HTTPS_Port" binding="p1:Desinstalacao_out_SIBinding">
      <soap:address location="https://cbmphorhpi1:52101/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=Gtec_HBS&amp;receiverParty=&amp;receiverService=&amp;interface=Desinstalacao_out_SI&amp;interfaceNamespace=urn%3Acielo%3Agtec%3Apax%3AVendaTerminal"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>